html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* .App {

} */

.app-header {
  display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  background-color: white;
  width: 100%;
}

.app-title {
  color: pink;
	margin: 10px 0 0 0;
}

.main {
  display: flex;
	flex-direction: column;
  justify-content: center;
	align-items: center;
  background-color: pink;
  width: 100%;
  height: auto;
	padding: 0 0 25px;
}

.main-search-filter {
	display: flex;
	justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 25px 25px 10px;
}

.list {
	max-width: 1100px;
}

.row {
	padding: 0 25px;
}

.product-container {
	height: 260px;
	background-color: aqua;
}

.link {
	background-color: aqua;
}

.product-number {
	padding: 0 0 25px 0;
}

.product-number-title {
	border: 3px solid aqua;
	background-color: aquamarine;
	border-radius: 15px;
	padding: 15px;
	font-weight: bold;
	color: black;
}

.milk-filter {
	height: 30px;
}

.img-container {
	display: flex;
	justify-content: center;
	background-color: aquamarine;
	padding: 15px 0;
	border-bottom: 1px solid black;
}

.milk-cart-img {
	width: 150px;
	height: 150px;
}

.product-name {
	display: flex;
	justify-content: center;
	margin: 10px 0;
	font-size: 18px;
	font-weight: bold;
}

.product-info {
	display: flex;
	justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 0 15px 0 15px;
	font-size: bold;
}